.breadcrumb {
  background: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  a {
    display: flex;
    align-items: center;
    text-decoration: none !important;

    i {
      margin-right: 4px;
      color: #6c757d;
    }
  }
}
