:root {
  --primary: #ba68c8;
}

html,
body {
  font-family: Roboto, sans-serif;
}

@import "var";
@import "partials";
@import "components";
@import "pages";

.outline-none {
  outline: none;
}

.decoration-none {
  text-decoration: none !important;
}

.hoverable {
  transition: 0.3s ease-in;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.list-none {
  list-style: none;
}

.fit-cover {
  object-fit: cover;
}

a {
  color: #333;

  &:hover {
    color: $primary-color;
  }
}
