html,
body {
  font-family: Roboto, sans-serif;
}

.brand {
  display: block;
  text-decoration: none !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .head__right {
  display: flex;
  align-items: center;
}

.banner img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.head-nav {
  margin-right: 3rem;
  position: relative;
}
.head-nav:after {
  content: "";
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -1rem;
  top: 30%;
  bottom: 30%;
}

#callme {
  display: block;
  outline: none;
  text-decoration: none;
  background: #4caf50;
  border-radius: 4px;
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  flex: 1;
}
.menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
}

.property-section {
  background: #f0f2f5;
  padding: 0 0 2rem 0;
}
.property-section .section__title {
  padding: 3rem 0;
}
.property-section .section__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.property {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.property .property__info {
  padding: 1rem;
}
.property .property__preview img {
  min-height: 164px;
}

.property-name {
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.property-location {
  font-size: 0.9rem;
}

.property-utilities img {
  width: 20px;
}
.property-utilities li + li {
  margin-left: 2rem;
}

.price {
  color: #f42;
  font-weight: 700;
}

.why-us {
  background-image: url(./../img/house-bg.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: start;
}
.grid-news img {
  display: block;
  width: 100%;
}

.features-news {
  position: relative;
}
.features-news .news-heading {
  color: #fff;
}
.features-news > a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.features-news img {
  min-height: 450px;
  object-fit: cover;
}
.features-news:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
}

.news__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1rem;
  color: #fff;
}

.news {
  display: flex;
}
.news img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  margin-right: 0.5rem;
}
.news + .news {
  margin-top: 1rem;
}
.news h4 {
  font-size: 1rem;
  font-weight: 300;
}

.section-news {
  padding: 0 0 2rem 0;
}
.section-news .section__title h3 {
  margin: 3rem 0;
}

.pub-date {
  font-size: 0.9rem;
}

.outline-none {
  outline: none;
}

.decoration-none {
  text-decoration: none;
}

.hoverable {
  transition: 0.3s ease-in;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.hoverable:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.list-none {
  list-style: none;
}

.fit-cover {
  object-fit: cover;
}

a {
  color: #333;
}
a:hover {
  color: #ba68c8;
}

/*# sourceMappingURL=style.css.map */
