.footer {
  background: #000111;
  color: rgba(#fff, 0.6);
  font-size: 0.9rem;

  a {
    color: rgba(#fff, 0.6);
    transition: 0.4s ease-in;

    &:hover {
      color: #fff;
    }
  }
}

.footer-title {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.socials li {
  margin-right: 1rem;
}

.contact img {
  margin-right: 0.25rem;
}
