.footer {
  background: #000111;
  color: rgba(#fff, 0.6);
  font-size: 0.9rem;

  a {
    color: rgba(#fff, 0.6);
    transition: 0.2s ease-in;

    &:hover {
      color: #fff;
    }
  }

  h4 {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

.socials li {
  margin-right: 1rem;
}

.contact img {
  margin-right: 0.25rem;
}

.end {
  border-top: 1px solid rgba(#fff, 0.2);
}
