$color: #fff;
$callme-color: #4caf50;
$logo-size: 40px;

.brand {
  display: block;
  text-decoration: none !important;
  color: $color !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color;
  width: $logo-size;
  height: $logo-size;
  background: rgba($color, 0.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba($color, 0.2);

  &.header--index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .head__right {
    display: flex;
    align-items: center;
  }
}

.banner {
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.head-nav {
  margin-right: 3rem;
  position: relative;

  &:after {
    content: "";
    display: block;
    border-right: 1px solid rgba($color, 0.2);
    position: absolute;
    right: -1rem;
    top: 30%;
    bottom: 30%;
  }
}

#callme {
  display: block;
  outline: none;
  text-decoration: none;
  background: $callme-color;
  border-radius: 4px;
  color: $color;
}
