.filter-form {
  button {
    margin-right: 0.5rem;
  }
}

.listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.search-form {
  .material-icons {
    color: #aaa;
  }

  input {
    border: none;
    outline: none;
  }
}
